<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/signin.css">
    <link rel="stylesheet" href="./styles/hover-min.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h2>Log In</h2>
    <form action='/login' method='POST'>
        <input type='text' name='username' placeholder='Username' />
        <input type='password' name='password' placeholder='Password' />
        <input type='submit' value='Log In' class="hvr-back-pulse" />
    </form>
</body>
</html>