<head>
    <!-- ./ works in some places ../ in others -->
    <link rel="stylesheet" href="/styles/header.css">
</head>

<header>
    <section class="title">
        <div>
            <h1>Title</h1>
            <h3>Logo</h3>
        </div>
    </section>
    <% if (user) {%>
        <div class="buttons" id="create">
            <form action='/logout?_method=DELETE' method='POST'><input type='submit' value='Logout'/></form>
            <a href="/schedules/new"><button>Create a schedule</button></a>
        </div>
    <%} else {%>
        <div class="buttons" id="login">
            <a href="/login"><button>Sign In</button></a> <a href="/register"><button>Sign Up</button></a>
        </div>
    <%}%>
    <nav>
        <ul>
            <li><a href="/schedules/all">View All Schedules</a></li>
            <li><a href="/schedules">View My Schedules</a></li>
            <li><a href="/appointments">View My Appointments</a></li>
        </ul>
    </nav>
</header>