<header>
    <h1>Title</h1>
    <button>Sign In</button><button>Sign Up</button>
    <button>Create a Schedule</button>
    <nav>
        <ul>
            <li>View All Schedules</li>
            <li>View My Schedules</li>
            <li>View My Appointments</li>
        </ul>
    </nav>
</header>