<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Than Calendly</title>
</head>

<body>
    <header>
        <h1>New Schedule</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">My Schedule</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- schedule new -->
        <form action="/schedule" method="POST">
            <input type="text" value="name" placeholder="Schedule Details" />
        </form>
    </main>
</body>

</html>