<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Than Calendly</title>
</head>

<body>
    <header>
        <h1>Welcome To Your Calendar</h1>
        <nav>
            <ul>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>