<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Than Calendly</title>
</head>

<body>
    <header>
        <h1>New Appointment</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/appointment">My Appointments</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- schedule edit and delete -->
        <form action="/appointment" method="POST">
            <input type="text" value="name" placeholder="Appointment Details" />
        </form>
    </main>
</body>

</html>