<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Than Calendly</title>
</head>

<body>
    <header>
        <h1>Appointment</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">My Schedule</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- appointment edit and delete -->
        <section>
            <h2>Appointment Details</h2>
            <a href="/appointment<%=appointment._id%>/edit">Edit</a>"
        </section>
        <form action="/appointment/<%=appointment._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
    </main>
</body>

</html>