
main {
    margin-top: 20px;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative

}

.schedule{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list{
    display: none;
    flex-direction: column;
}

li {
    width: 300px;
    border: 2px solid black;
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.description {
    flex-grow: 4;
}

.description:hover {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 3px solid black;
    flex-grow: 1;
}

* {
    --unavailable: #3f3f3f;
    --taken: red;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container p {
    background-color: green;
    flex: 1;
    transition-duration: .3s;
}

.container p.taken:hover {
    background-color: pink;
    cursor: pointer;
    transform: scale(1.1);
}

.container p.label {
    background-color: white;
}

.container p.label:hover,
.container p.unavailable:hover
{
    transform: scale(1.0);
    cursor: default;
}

.labels p {
    line-height: 20px;
    text-align: right;
    padding: 0 3px;
}

.day p {
    border: 1px solid black;
    text-align: center;
}

p.taken {
    background-color: var(--taken);
}

.button-div {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-div div {
    flex: 1 1 auto;
    background-color: #f1f1f1;
    width: 100px;
    vertical-align: middle;
    position: relative;
    transition-duration: .3s;
}

.next, .previous {
    transition-duration: .3s;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 100px;
    text-align: center;
    display: inline-block;
    transform: rotate(90deg);
}

.button-div div:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.button-div div:hover span {
    color: white;
}

 /* code borrowed from https://stackoverflow.com/a/39948858 */
.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 180px;
  height: 34px;
}
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "aaa";
  height: 36px;
  width: 60px;
  left:0px;
  bottom: -1px;
  top: -1px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.text {
  color: white;
}
.text:after {
  position: absolute;
  top: 7px;
  right: 25px;
  content: "List";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.text:before {
  position: absolute;
  top: 7px;
  left: 25px;
  content: "Schedule";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
input + .slider + .text:after {
  opacity: 1;
}
input + .slider + .text:before {
  opacity: 0;
}
input:checked + .slider + .text:after {
  opacity: 0;
}
input:checked + .slider + .text:before {
  opacity: 1;
}