main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    width: 300px;
    border: 2px solid black;
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

p {
    margin: 5px;
}

.description {
    flex-grow: 4;
}

.description:hover {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 3px solid black;
    flex-grow: 1;
}