* {
    --unavailable: #3f3f3f;
    --taken: red;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

p {
    background-color: green;
    flex: 1;
    transition-duration: .3s;
}

p:hover {
    background-color: lightgreen;
    cursor: pointer;
    transform: scale(1.1);
}

p.label {
    background-color: white;
}

p.label:hover,
p.unavailable:hover,
p.taken:hover {
    transform: scale(1.0);
    cursor: default;
}

.labels p {
    line-height: 20px;
    text-align: right;
    padding: 0 3px;
}

.day p {
    border: 1px solid black;
    text-align: center;
}

p.unavailable {
    background-color: var(--unavailable);
}

p.taken {
    background-color: var(--taken);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Center form in modal */
.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content form input {
    margin: 6px;
}

/* The Close Button */
.close {
    position: absolute;
    right: 5px;
    top: 0;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}