h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

main form {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main form input {
    margin: 10px;
}

main button, main input[type=submit] {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    font-size: 1.2em;
}

main button:hover, main input[type=submit]:hover {
    cursor: pointer;
}